#chart{
    width: 90%;
    max-width: 1000px;
    min-width: 600px;
    min-height: 300px;
}

#inputs{
    min-height: 100px;
}

div{
    margin: 10px;
    display: block;
}

.c3-legend-item ,.c3-tooltip th ,.c3-tooltip td{
 font-size: 16px;
}

#loader-1 {
   visibility: hidden;
   height: 0px;
}

#apiKeyLabel,#apiKeyInput,#gmapsP {
   visibility: hidden;
}