import praw
reddit=praw.Reddit(
    client_id="YOUR_CLIENT_ID",
    client_secret="YOUR_CLIENT_SECRET",
    password="YOUR_REDDIT_PASSWORD",
    user_agent="see_app_description",
    username="YOUR_REDDIT_USERNAME",
)

from psaw import PushshiftAPI
pushshift=PushshiftAPI(reddit)